/*
    background-color: #0475ba;
*/ 

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/poppins.ttf');
    font-weight: normal;
}

